<a href="https://colab.research.google.com/github/Kushal7910/PYTHON/blob/main/RA2211042010025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [5]:
name = "Kushal"
print("My name is "+ name)

My name is Kushal

In [7]:
sum = 5 + 3
print("Sum of 3 + 5 : "+str(sum))

Sum of 3 + 5 : 8

In [8]:
x = "Kushal"
y = 5
print(x)
print(y)

Kushal
5

In [9]:
x = "Kushal"
y = 5
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [ ]:
#illegal variable names
2myvar = "John"
my-var = "John"
my var = "John"